#isbn-input, #isbn-submit, #isbn-cancel {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid black;
}

#tag-input {
    padding: 4px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid black;
    margin-right: 4px;
}

#tag-submit {
    font-size: 16px;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid black;
}

#book-title{
    font-size: 1.17em;
    margin: 0;
    margin-bottom: 0.4em;
    font-weight: bold;
    width: fit-content;
}

#book-author, #book-category, #book-date, #book-publisher, #book-language, #book-isbn {
    font-size: 1em;
    margin: 0;
    margin-bottom: 100px;
    width: fit-content;
}

#book-body {
    font-size: 1em;
    margin: 0;
    margin: 4px 0px 4px 0px;
    font-style: italic;
}

.add-book-form {
    width: 80%;
    margin: auto;
}

/* .outline {
    margin-top: 16px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
} */

.CoverImage-Wrapper {
    width: 8.5em;
    float: left;
}


@media screen and (min-width: 800px) {
    .add-book-form {
        width: 65%;
    }
    .outline {
        margin-top: 16px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 8px;
    }
  }
@media screen and (max-width: 799px) {
    .add-book-form {
        width: 80%;
    }
    .outline {
        margin-top: 16px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 8px;
        display: flex;
        flex-direction: column;
    }
}



