
.Book-Wrapper {
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 32px;
}

.Book-Header {
    width: 100%;
    height: 256px;
}

.Book-Thumbnail {
    width: 30%;
    float: left;
}

.Book-Sub-Title {
    margin-top: 16px;
}

.Book-Desc {
    margin-top: 16px;
}

.Book-Text {
    width: 70%;
    float: right;
}

.Book-Meta {
    text-align: left;
}

.Tags-Wrapper {
    margin-top: 8px;
}

.Book-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    

}

#edit-book, #borrow-submit, #isbn-remove,#readlist-submit{
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
    max-width: 192px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* #edit-book{
    width: 20%;
    margin-left: 10px;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid black;
}
#borrow-submit{
    width: 20%;
    margin-left: 10px;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid black;
}

#isbn-remove {
    width: 20%;
    margin-left: 10px;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid black;
} */