.Remove-Book{
    width: 70%;
    float: right;
}

#isbn-remove {
    width: 50%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid black;
}

.Book-Wrapper {
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 32px;
}

.Book-Header {
    width: 100%;
    height: 256px;
}

.Book-Thumbnail {
    width: 30%;
    float: left;
}

.Book-Sub-Title {
    margin-top: 16px;
}

.Book-Desc {
    margin-top: 16px;
}

.Book-Text {
    width: 70%;
    float: right;
}

.Book-Meta {
    text-align: left;
}

.Tags-Wrapper {
    margin-top: 8px;
}

#edit-book {
    width: 20%;
    float: left;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid black;
}
