.Overlay {
    z-index: 1;
    background-color: rgba(100, 100, 100, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.DetailedBookPreview-Wrapper {
    border: 1px solid black;
    border-radius: 8px;

    padding: 8px;

    width: 75%;
    height: 512px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 128px;

    background-color: white;
}

.DetailedCoverImage-Wrapper {
    width: 30%;
    float: left;
}

.DetailedCoverImage-Wrapper img {
    height: 166px;
}

.Button-Wrapper {
    font-size: 24px;
    width: 48px;
    position: absolute;
    right: 0;
}

.DetailedMetaData-Wrapper {
    text-align: left;

    padding-left: 8px;

    width: 70%;
    float: right;
    position: relative;
    height: 100%;
}

.DetailedMetaData-Wrapper hr {
    margin-bottom: 8px;
    margin-top: 8px;
}
