.Tag-Wrapper {
    border-radius: 8px;
    border: 1px solid black;
    padding: 4px;
    margin: 2px;
    font-size: 12px;
    display: inline-block;
}

.Tag-Wrapper a {
    color: white;
    font-weight: bold;
}