name: Responsive Library Workflow

on:
  push:
    branches:
      - main
      - PUM03-*
  pull_request:
    branches:
      - main

jobs:
    build:
      runs-on: ubuntu-latest # Responsive has Ubuntu 22.04

      steps:
       - uses: actions/checkout@v3
       - name: Start containers
         run: docker-compose -f "docker-compose-test.yml" up
